.grid-container {
    display: grid;
    grid-template: repeat(35, 1fr) / repeat(50, 1fr);
    width: 1000px;
    height: 700px;
    position: relative;
    margin: 0px auto;
    justify-content: center;
    align-items: center;
}
.container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 500px / 350px;
    background-image: radial-gradient(gray, rgba(177, 176, 176, 0.5), rgba(238, 235, 235, 0.445));
}
#new-year {
    grid-area: 1 / 23 / span 8 / span 8;
    width: 150px;
    border-radius: 75px;
    z-index: 9;
}
#sportlov {
    grid-area: 4 / 36 / span 8 / span 8;
    width: 150px;
    border-radius: 75px;
    z-index: 9;
}
#easter {
    grid-area: 14 / 43 / span 8 / span 8;
    width: 150px;
    border-radius: 75px;
    z-index: 9;
}
#matrundan {
    grid-area: 23 / 40 / span 8 / span 8;
    width: 150px;
    border-radius: 75px;
    z-index: 9;
}
#osterlen-lyser {
    grid-area: 12 / 1 / span 8 / span 8;
    width: 150px;
    border-radius: 75px;
    z-index: 9;
}
#kiviksmarknad {
    grid-area: 28 / 21 / span 8 / span 8;
    width: 150px;
    border-radius: 75px;
    z-index: 9;
}
#appelveckor {
    grid-area: 22 / 4 / span 8 / span 8;
    width: 150px;
    border-radius: 75px;
    z-index: 9;
}
#kivikskortet {
    grid-area: 4 / 8 / span 8 / span 8;
    width: 150px;
    border-radius: 75px;
    z-index: 9;
}
#glada-barn {
    grid-area: 27 / 32 / span 8 / span 8;
    width: 150px;
    border-radius: 75px;
    z-index: 9;
}
#skordetid {
    grid-area: 26 / 12 / span 8 / span 8;
    width: 150px;
    border-radius: 75px;
    z-index: 9;
}